src/build/*
src/obj_dir/*
src/klee-*/
.metals/
src/klee-last
src/byte_code_main
*.txt
*.early
*.kquery
*.ktest
*.err
*.ll
src/klee_inst_results
build/
.vscode/
src_nutshell/build/*
src_nutshell/obj_dir/*
src_nutshell/klee-*/
src_nutshell/CMake